@{
    Layout = null;
}
<link rel="shortcut icon" href="~/carro-de-brinquedo.ico" />
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/5a4b143f16.js" crossorigin="anonymous"></script>
<body>
    <div id="form">
        <form action="">
            <h2 class="title">Cadastrar  </h2>

            <label for="username">Nome</label>
            <div class="input">
                <i class="fa-regular fa-user"></i>
                <input id="username" name="username" placeholder="Username" type="text" />                
            </div>
            <label for="email">email</label>
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input id="email" name="Email" placeholder="Email" type="email" />           
            </div>
            <label for="senha">senha</label>
            <div class="input">
                <i class="fa-solid fa-key"></i>
                <input id="senha" name="Senha" placeholder="Password" type="password" />               
            </div>
            <div id="btn">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>












</body>

